/* ----------------------------- index.html ----------------------------- */

html, body {
    height: 100%;
    width: 100%;
    max-width: 960px;
}

.clearfix::after { 
    content: "";
    display: block;
    clear: both;
}

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 340px;
    overflow: hidden;
}

.head li {
    float: right;
}

.head a {
    display: block;
    text-align: center;
    text-decoration: none; 
    padding: 25px 25px 25px 25px;
}

.head li a:hover:not(.active) { 
    background-color: #e1e1e1;
    color: black;
    text-decoration: none;
}

.head li a:visited {
    color: black;
    text-decoration: none;
}

.logo {
    float: left;
    display: block;
    margin-left: 200px;
    margin-right: 50px;
    width: 27%;
    padding: 10px;
}

.logo img {
    width: 40%;
    height: auto;
}

.logo a:hover:not(.active) {
    color: black;
    text-decoration: none;
}

.logo a:visited {
    color: black;
    text-decoration: none;
}

.about {
    clear: left;
    float: left;
    padding: 10px;
    width: 460px; /* I can also use % instead */
    margin: 0 0 40px 180px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #f6f6f6;
}

.about hr {
    display: block;
    margin-top: 0.6cm;
    margin-bottom: 1.6em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
}

.about h1 {
    margin-left: 20px;
}

.about img {
    float: left;
    margin: 10px 30px 10px 30px;
}

#simpson {
    height: 300px;
    border: 1px;
    border-color: #e1e1e1;
    border-style: solid;
}

#description {
    clear: left;
    margin: 70px 20px 10px 10px;
}

#bullet {
    padding-top: 10px;
    clear: left;
}

#bullet li {
    margin-left: 16px;
}

.connect {
    float: left;
    width: 250px; /* I can also use % instead */
    padding: 10px;
    text-align: center;
    background-color: #f6f6f6;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0 0 0 30px;
}

.connect hr {
    display: block;
    margin-top: 0.6cm;
    margin-bottom: 1.6em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
}

.connect h4 {
    margin: 0;
    padding-top: 20px;
}

.icon {
    width:40px;
    height:auto;
    padding: 1px;
}

.footer {
    clear: both;
    text-align: center;
    color: white;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    font-size: 60%;
    height: 30px;
    width: 100%;
    padding: 10px;
 }


/* ----------------------------- contact.html ----------------------------- */

#form {
    padding: 0 0 0 10px;
}

button {
    margin: 10px 5px 0 0;
}

#name input {
    margin-bottom: 5px;
    width: 98%;
    height: 30px;
}

#email input {
    margin-bottom: 5px;
    width: 98%;
    height: 30px;
}

#phone input {
    margin-bottom: 5px;
    width: 98%;
    height: 30px;
}

#contact select {
    margin-bottom: 10px;
}

#resize textarea {
    resize: vertical;
    max-height: 300px;
}

textarea:focus { 
    outline:none;
    border-color:#ff1200;
    box-shadow:0px 0 8px #ff1200; 
}​

/* media queries for screens up to 640px */

/*@media screen and (max-width: 639px) {
}   

body {
    max-width: 640px;
}

.logo img {
        width: auto;
        height: 80%;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 21px;
    margin-right: 0px;
    padding-bottom: 0px;
}

.head ul {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px;
}

.head a {
    padding: 0px 25px 25px 25px;
}

.about {
    width: 100%;
    margin: 0 0 20px 10px;
}

.connect {
    width: 100%;
    margin: 0 0 50px 10px;
}

#description {
    clear: left;
}

.about img {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
*/



/* media queries for screens between 640px & 767px */

/**@media (min-width: 640px) and (max-width: 767px) {
}  

body {
    min-width: 640px;
    max-width: 767px;
}

.logo img {
        width: auto;
        height: 70%;
}

.logo {
    display: flex;
    width: 200px;
    margin-left: 21px;
    margin-right: 0px;
    padding-bottom: 0px;
    
}

.head ul {
    width: 500px;
}

.about {
    width: 100%;
    margin: 0 0 20px 10px;
}

.connect {
    width: 100%;
    margin: 0 0 50px 10px;
}

*/










